<div class="main-body">
    <h2 class="header">Education</h2>
    <div class="education-section">
        <h3 class="sub-header">Utah Valley University</h3>
        <p class="program">Computer Science Program</p>
        <p class="date">2015-Present</p>
        <p class="degree">Bachelor's Degree in Software Engineering (In Progress)</p>
    </div>
    <div class="education-section">
        <h3 class="sub-header">Pleasant Grove High School</h3>
        <p class="program">Distance Education Program</p>
        <p class="date">2011</p>
        <p class="degree">Associate of Science</p>
        <p class="degree">High School Diploma</p>
    </div>
</div>