<div class="main-body">
    <h2 class="header">INTERESTS</h2>
    <p>I love playing games of all types: board, tabletop, video. I also enjoy baking, reading, and hiking.</p>
    <div class="container">
        <div class="row">
            <div class="col-2">
                <h3 class="logo-header">D&D</h3>
                <img class="img-fluid" src="../../assets/d20.png">
            </div>
            <div class="col-3 mtg">
                <h3 class="logo-header">MTG</h3>
                <img class="img-fluid island-symbol" src="../../assets/mtgBlue.png">
                <img class="img-fluid" src="../../assets/mtgBlack.png">
                <img class="img-fluid forest-symbol" src="../../assets/mtgGreen.png">
            </div>
            <div class="col-2">
                <h3 class="logo-header">Destiny</h3>
                <img class="img-fluid" src="../../assets/destinylogo.png">
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <h3 class="logo-header">FFXIV</h3>
                <img class="img-fluid" src="../../assets/xivlogo.png">
            </div>
            <div class="col-3">
                <h3 class="logo-header">Darksouls</h3>
                <img class="img-fluid darksign" src="../../assets/darksignlogo.jpg">
            </div>
            <div class="col-2">
                <h3 class="logo-header">Journey</h3>
                <img class="img-fluid" src="../../assets/journeylogo.png">
            </div>
        </div>
    </div>
</div>
