<div class="main-body">
    <h2 class="header">Skills</h2>

    <div class="container">
        <div class="row">
            <div class="col">
                <div class="sub-heading">Front End<hr></div>
                <ul class="list-inline">
                    <li *ngFor="let skill of fontEndSkills" title="{{skill}}">
                        <i class="devicon-{{skill}}-plain colored"></i>
                    </li>
                </ul>
            </div>
            <div class="col">
                <div class="sub-heading">Back End<hr></div>
                <ul class="list-inline">
                    <li *ngFor="let skill of backEndSkills" title="{{skill}}">
                        <i class="devicon-{{skill}}-plain colored"></i>
                    </li>
                </ul>
            </div>
            <div class="col">
                <div class="sub-heading">Workflow<hr></div>
                <ul class="list-inline">
                    <li *ngFor="let skill of processSkills" title="{{skill}}">
                        <i class="devicon-{{skill}}-plain colored"></i>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <hr>
    <p>My primary technical skills are focused on using Angular 7/8 and it's supporting languages to create robust front end components and services. 
        I also have experience with creating server-side APIs and databases to support those components. 
        I have experience with Agile methodologies, security best practices, and integration with various libraries and APIs.
        In addition to my technical knowledge I have excellent interpersonal/communication skills and work well in a team environment.
    </p>
</div>