<head>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
</head>
<div class="navigation-menu">
  <app-navigation></app-navigation>
</div>
<div class="main-body container-fluid">
  <app-about id="about"></app-about>
  <app-skills id="skills"></app-skills>
  <app-experience id="experience"></app-experience>
  <app-education id="education"></app-education>
  <app-interests id="interests"></app-interests>
</div>

